/* OrderHistory.css */

.order-history-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  
  height: 100vh; /* Set height to 100% of viewport height */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.order-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.order-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  background-color: #fff;
  color: #333;

  &:hover {
    transform: scale(1.02);
  }

  .order-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

    h3 {
      margin: 0;
      color: #4caf50; /* Green color */
    }
  }

  .order-items {
    h4 {
      margin-bottom: 10px;
      color: #2196f3; /* Blue color */
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        margin-bottom: 5px;
        color: #555;
      }
    }
  }

  .order-total {
    p {
      margin: 0;
      font-weight: bold;
      color: #e91e63; /* Pink color */
    }
  }
}
