/* OrderHistory.css */

.order-history-container {
  display: flex;
  flex-wrap: wrap; /* Allows items to wrap to the next line */
  justify-content: flex-start; /* Aligns items from left to right */
  gap: 20px; /* Adjust the gap between items */
  margin-top: 10px; /* Adjust the top margin */
  margin-left: 3%;
  margin-right: 2%;
}

.order-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.order-card {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 500px;
  margin-bottom: 20px;

  &:hover {
    transform: scale(1.02);
  }

  .order-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

    h3 {
      margin: 0;
      color: #4caf50; /* Green color */
    }
  }

  .order-items {
    h4 {
      margin-bottom: 10px;
      color: #2196f3; /* Blue color */
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        margin-bottom: 5px;
        color: #555;
      }
    }
  }

  .order-total {
    p {
      margin: 0;
      font-weight: bold;
      color: #e91e63; /* Pink color */
    }
  }
}
